.loader {
		position: fixed;
		display: block;
		width: 100%;
		border-radius: 2px;
		margin: 0 0 1rem 0;
		overflow: hidden;
		top: 0;
		z-index: 9999;
}

.loader .undetermined:before {
		content: '';
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		-webkit-animation: undetermined 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
		animation: undetermined 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.loader .undetermined:after {
		content: '';
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		-webkit-animation: undetermined-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
		animation: undetermined-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
		-webkit-animation-delay: 1.15s;
		animation-delay: 1.15s
}

@-webkit-keyframes undetermined {
		0% {
				left: -35%;
				right: 100%
		}
		60% {
				left: 100%;
				right: -90%
		}
		100% {
				left: 100%;
				right: -90%
		}
}

@keyframes undetermined {
		0% {
				left: -35%;
				right: 100%
		}
		60% {
				left: 100%;
				right: -90%
		}
		100% {
				left: 100%;
				right: -90%
		}
}

@-webkit-keyframes undetermined-short {
		0% {
				left: -200%;
				right: 100%
		}
		60% {
				left: 107%;
				right: -8%
		}
		100% {
				left: 107%;
				right: -8%
		}
}

@keyframes undetermined-short {
		0% {
				left: -200%;
				right: 100%
		}
		60% {
				left: 107%;
				right: -8%
		}
		100% {
				left: 107%;
				right: -8%
		}
}