.input { 
  position: relative; 
	margin: 60px 20px; 
}

input {
  padding: 10px 0 10px 0;
	display: block;
	width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus { outline:none; }

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

label {
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  pointer-events: none;
  left:5px;
  top:10px;
  transition:0.4s ease all; 
}

input:focus ~ label, input:valid ~ label {
	top: -20px;
	left: 0;
  font-size: 12px;
  color: #E91E63;
}

.bar { position: relative; display: block; width: 100%; }
.bar:before, .bar:after {
  content: '';
  height: 1px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #E91E63; 
  transition: 0.2s ease all; 
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100%; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background: #E91E63; }
  to 	{ width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: #E91E63; }
  to 	{ width: 0; background: transparent; }
}
@keyframes inputHighlighter {
	from { background: #E91E63; }
  to 	{ width: 0; background: transparent; }
}