/* {
	@value transitions: "../../../css/transitions.css";
	@value fast from transitions;	
} */

.g {
	background-image: url("../../../assets/icons/google.svg");
}

.auth-button {
	border-radius: 50%;
	cursor: pointer;
	width: 32px;
	height: 32px;
	/* transition: fast; */
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: 24px 24px;  
	animation: flap 240ms 1 forwards;
	opacity: 0;
}

.auth-button:hover {
	background-color: #F5F5F5;
}

.auth-button:active {
	background-color: #DADADA;
}

@keyframes flap {
	from {
		transform: scale(0) ;
	}

	to {
		transform: scale(1) ;
		opacity: 0.6;
	}
}