.card {
    display: flex;
    flex-direction: column; 
    cursor: pointer; 
    transition: box-shadow 240ms;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
}

.card-header {
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
  
.card-main {
    display: flex;  
    padding: 10px 20px 20px 20px;
    justify-content: center; 
    align-items: center;
    height: 100%;
}
    
.icon {
    width: 36px;
    opacity: 0.7;
    padding-right: 10px;
}

.main-description {
    padding-left: 10px;
    font-size: 12px;
    display: -webkit-box !important;
    -webkit-line-clamp: 3!important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}

.short {
    grid-row: span 2;
}

.tall {
    grid-row: span 3;
}

.taller {
    grid-row: span 4;
}

.tallest {
    grid-row: span 5;
}
  
.card:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
