.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.modal-window {
  position: relative;
  width: 600px;
  border-radius: 2px;
  padding: 20px;
  margin: 15% auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #444;
  
}

.modal-content {
  padding: 10px 10px;
}

.modal-close {
  width: 60px;
  position: absolute;
  color: #aaa;
  line-height: 60px;
  font-size: 24px;
  text-decoration: none;
  right: 0;
  text-align: center;
	top: 0;
	cursor: pointer;
}

.modal-close:hover {
  color: #000;
}

.modal-window h2 {
  padding: 0 10px;
}

@media (max-width: 768px) {
    .modal-window {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 20px 0;
    }
}