.header {
	display: flex;
	position: fixed;
  align-items: center;
  flex-direction: row;
	flex-wrap: nowrap;
  height: 64px;
	background-color: #fff;
	transition: box-shadow 240ms;
	width: 100%;
	z-index: 1;
	animation: slide 340ms 1;
	animation-timing-function: ease-out;

}

.version {
	font-size: 10px;
	padding: 3px;
	top: 10px;
	position: relative;
	color: #7aa1ef;
	left: -35px;
}

.shadow {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.logo {
	font-size: 23px;
	padding-left: 20px;
	width: 75px;
	font-weight: 400;
	color: rgba(0,0,0,0.7);
	cursor: pointer;
	transition-duration: 120ms;
}

.logo:active {
	transform: scale(0.95);
}

@keyframes slide {
	from { top: -64px }
  to 	{ top: 0 }
}