.fab {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibTIzLDEwaC04LjVjLTAuMywwLTAuNS0wLjItMC41LTAuNXYtOC41YzAtMC42LTAuNC0xLTEtMWgtMmMtMC42LDAtMSwwLjQtMSwxdjguNWMwLDAuMy0wLjIsMC41LTAuNSwwLjVoLTguNWMtMC42LDAtMSwwLjQtMSwxdjJjMCwwLjYgMC40LDEgMSwxaDguNWMwLjMsMCAwLjUsMC4yIDAuNSwwLjV2OC41YzAsMC42IDAuNCwxIDEsMWgyYzAuNiwwIDEtMC40IDEtMXYtOC41YzAtMC4zIDAuMi0wLjUgMC41LTAuNWg4LjVjMC42LDAgMS0wLjQgMS0xdi0yYzAtMC42LTAuNC0xLTEtMXoiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center;
	position: fixed;
	width: 45px;
	height: 45px;
	bottom: 22px;
	right: 22px;
	background-color: #3283F0;
  color: #FFF;
  cursor: pointer;  
	border-radius: 50px;    
	transition: box-shadow 240ms;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
  animation: flap 240ms;
}
 
.fab:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

@keyframes flap {
	from {
    transform: scale(0) ;
	}

	to {
    transform: scale(1) ;
	}
}

@media screen and (max-width: 40em) {
	.fab {
		bottom: 50px;
	}
}