.fab {
  background-image: url("../../../assets/icons/add.svg");
  background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	position: fixed;
	width: 45px;
	height: 45px;
	bottom: 22px;
	right: 22px;
	background-color: #4285F4;
  color: #FFF;
  cursor: pointer;  
	border-radius: 50px;    
	transition: box-shadow 240ms;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
	animation: flap 240ms;
	transition: 240ms;
}
 
.fab:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  opacity: 0.9;
}

.fab:active {
  background-color: #296CDB;
}

@keyframes flap {
	from {
    transform: scale(0) ;
	}

	to {
    transform: scale(1) ;
	}
}

@media screen and (max-width: 40em) {
	.fab {
		bottom: 50px;
	}
}