.app {
  width: 100%;
  height: 120vh;
}

.container {
  padding: 20px;
  padding-top: 135px;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.centered-padded {
  display: flex;
  flex-direction: column;  
}

.float {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibTIzLDEwaC04LjVjLTAuMywwLTAuNS0wLjItMC41LTAuNXYtOC41YzAtMC42LTAuNC0xLTEtMWgtMmMtMC42LDAtMSwwLjQtMSwxdjguNWMwLDAuMy0wLjIsMC41LTAuNSwwLjVoLTguNWMtMC42LDAtMSwwLjQtMSwxdjJjMCwwLjYgMC40LDEgMSwxaDguNWMwLjMsMCAwLjUsMC4yIDAuNSwwLjV2OC41YzAsMC42IDAuNCwxIDEsMWgyYzAuNiwwIDEtMC40IDEtMXYtOC41YzAtMC4zIDAuMi0wLjUgMC41LTAuNWg4LjVjMC42LDAgMS0wLjQgMS0xdi0yYzAtMC42LTAuNC0xLTEtMXoiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 22px;
	right: 22px;
	background-color: #0C9;
  color: #FFF;
  cursor: pointer;  
	border-radius: 50px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

@media screen and (min-width: 70em) {
    .centered {
      max-width: 70em;
    }

    .centered-padded {
      max-width: 40em;
    }
}

@media screen and (min-width: 40em) {
    .centered-padded {
      max-width: 40em;
    }

}
