.app {
  width: 100%;
  height: 150vh;
}

.space {
  display: flex;
  flex-direction: column; 
  height: 100%;
}

.tile {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.textarea {
  width: 100%;
  outline: none;
  padding-left: 20px;
  color: rgba(0,0,0,0.8);
  font-family: monospace;
}

.container {
  padding: 20px;
  padding-top: 135px;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.centered-padded {
  display: flex;
  flex-direction: column;  
}


@media screen and (min-width: 70em) {
    .centered {
      max-width: 70em;
    }

    .centered-padded {
      max-width: 40em;
    }
}

@media screen and (min-width: 40em) {
    .centered-padded {
      max-width: 40em;
    }

}
