.avatar {
	border-radius: 50%;
	left: -20px;
}

.clickable {
	transition: 240ms;
	cursor: pointer;
}

.animated {
	animation: flap 240ms 1;
}

.clickable:hover {
	opacity: 0.8;
}

@keyframes flap {
	from {
		transform: scale(0) ;
		opacity: 0;
	}

	to {
		transform: scale(1) ;
		opacity: 1;
	}
}