.avatar {
	border-radius: 50%;
	cursor: pointer;
	align-self: center;
	margin: 20px;
	transition: 240ms;
	width: 100px;
	height: 100px;
}

.avatar:hover {
	opacity: 0.7;
	background-image: url('../../assets/icons/avatar.png') !important;
}

@media screen and (max-width: 40em) {
    .avatar {
			width: 70px;
			height: 70px;
    }
    
}